*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.common{
	display: none;
	color: red;
	font-size: 10px;
}

.container{
    height: 100%;
	width: 100%;
    font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("./bg.jpg");
	background-position: center;
	background-size: cover;
	position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box
{
    width: 380px;
	height: 500px;
	position: relative;
	background: rgba(0,0,0,0.3);
	padding: 10px;
    overflow: hidden;
}

.button-box
{
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}

.toggle-btn
{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}

#btn
{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #F3C693;
	border-radius: 30px;
	transition: .5s;
}

.input-group-login
{
	top: 150;
	position: absolute;
	width: 280px;
	transition: .5s;
}

.input-group-register
{
    top: 120;
	position: absolute;
	width: 280px;
	transition: .5s;
}

.input-field
{
    display: block;
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}

.btn-holder{
    margin: 10px;
}

.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #F3C693;
	border: 0;
	outline: none;
	border-radius: 30px;
}

#login-with-google{
    margin-top: 40px;
    width: 100%;
}

.check-box
{
	margin: 30px 10px 34px 0;
}

span
{
	color: #777;
	font-size: 12px;
	position: relative;
    bottom: 2px;
}

#login
{
	left: 50px;
}

#login input
{
	color: white;
	font-size: 15;
}

#signup
{
	left: 450px;
}

#signup input
{
	color: white;
	font-size: 15;
}

@media only screen and (max-width:500px){

    .form-box{
        width: 300px;
    }

    .input-field{
        width: 75%;
    }

    .submit-btn{
        position: relative;
        right: 35px;
        width: 65%;
    }

    #login-with-google{
        width: 80%;
    }
}

@media only screen and (max-width:400px){

    .toggle-btn{
        padding: 8px 30px;
    }

    .form-box{
        width: 280px;
        height: 450px;
    }

    .input-field{
        width: 65%;
    }

    .submit-btn{
        width: 55%;
        right: 50px;
        padding: 8px 15px;
    }
}